mdlake-main/USE-IC-DA-DLDF/PartialArmTemplates/ArmTemplate_7_1_2021_7_11_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "USE-IC-DA-DLDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-Jobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.companyrefpath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable2",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.fulljobdescpath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable3",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.jobrecordspath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Append variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('ListOfFiles')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"wildcardFileName": "*.gz",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_StandardFeeds_Source",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"sourcefile": "*.gz"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_StandardFeeds_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfolder": {
													"value": "@string(pipeline().parameters.sinkpath)",
													"type": "Expression"
												},
												"sinkfilename": {
													"value": "@activity('Get Metadata1').output.childitems[0].name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "LinkupSFTP_StandardFeeds_Source",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "@item()",
												"sourcefile": "*.gz"
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"companyrefpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full PIT Company Reference/2021/05/"
					},
					"jobrecordspath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Records/2021/05/"
					},
					"fulljobdescpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Descriptions/2021/05/"
					},
					"marketreportpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/MarketReports/Reports/Core_Ticker_Analytics_v2/core_ticker_analytics_v2_2021-05-31.csv.gz"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-MarketReports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LinkupSFTP_StandardFeeds_Source",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": {
										"value": "@pipeline().parameters.marketreportpath",
										"type": "Expression"
									},
									"sourcefile": {
										"value": "@pipeline().parameters.marketdatafilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Linkup_StandardFeeds_Sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkfolder": {
										"value": "@string(pipeline().parameters.sinkpath)",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@substring(string(pipeline().parameters.marketdatafilename),0,39)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"marketreportpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/MarketReports/Reports/Core_Ticker_Analytics_v2/"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					},
					"marketdatafilename": {
						"type": "string",
						"defaultValue": "core_ticker_analytics_v2_2021-05-31.csv.gz"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}