mdlake-main/USE-IC-DA-DLDF/PartialArmTemplates/ArmTemplate_7_9_2021_12_9_36.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "USE-IC-DA-DLDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DW-UAM-Data-Extraction-incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "configlookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "select * from datalake.adfconf where enabled=1",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADFConfigSource",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "dwfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqldw')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "dwfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('dwfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check_Incremental_Flag",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy Full Data to ADLS Gen 2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().Source_table}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DataWarehouseSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Get Last Modified date from config",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "select Watermark_Value from datalake.adfconf where Source_table like '@{item().Source_table}'",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ADFConfigSource",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Copy Source to Datalake",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Get Last Modified date from config",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().Source_table}\nWHERE\nConvert(datetime,@{item().Watermark_Column},105) \n > \nConvert(datetime,substring(\nreplace(\n@{activity('Get Last Modified date from config').output.firstRow.Watermark_Value},'T',''),0,20),120)",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DataWarehouseSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											},
											{
												"name": "Data flow1",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Copy Source to Datalake",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "1.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "dataflow1",
														"type": "DataFlowReference",
														"parameters": {
															"sourcetable": {
																"value": "'@{item().Dest_table}'",
																"type": "Expression"
															},
															"watermark_field": {
																"value": "'@{item().Watermark_Column}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source1": {
																"STGfilename": "@{item().Dest_table}"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "uamfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqluam')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "uamfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('uamfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "DW-UAM"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW-UAM-Data-Extraction_full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "configlookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "select * from datalake.adfconf where enabled=1",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADFConfigSource",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "dwfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqldw')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "dwfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('dwfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check_Incremental_Flag",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy Full Data to ADLS Gen 2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().Source_table}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DataWarehouseSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "uamfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqluam')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "uamfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('uamfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check_Incremental_Flag_copy1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy Full Data to ADLS Gen 2_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().Source_table}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "UAMSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "UAMSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "DW-UAM"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW-UAM-Databricks-Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW-UAM-Incremental-Ingest",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/uam_datawarehouse/Ingest-DW-UAM-Data"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "DW-UAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW-UAM-FullPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW-UAM-incrementalnew",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW-UAM-incrementalnew",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DW-UAM-Databricks-Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DW-UAM-incrementalnew",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW-UAM-Databricks-Ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "DW-UAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DW-UAM-incrementalnew')]",
				"[concat(variables('factoryId'), '/pipelines/DW-UAM-Databricks-Ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW-UAM-incrementalnew')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "configlookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "select * from datalake.adfconf where enabled=1",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADFConfigSource",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "dwfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqldw')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "dwfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('dwfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check_Incremental_Flag",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy Full Data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().Source_table}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DataWarehouseSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											},
											{
												"name": "Logging_full",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy Full Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'@{item().Source_table}' as Source,\n'@{item().Dest_table}' as Destination,\n'@{item().Load_Flag}' as LoadType,\n'@{activity('Copy Full Data').output.executionDetails[0].status}' as Status,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Copy Full Data').output.rowsCopied}' as rowsCopied,\n'@{activity('Copy Full Data').output.rowsRead}' as RowsRead,\n'@{activity('Copy Full Data').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Copy Full Data').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Copy Full Data').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Copy Full Data').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Copy Full Data').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Copy Full Data').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Copy Full Data').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('Copy Full Data').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n'@{activity('Copy Full Data').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,\n'@{activity('Copy Full Data').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "SqlMISink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ADFConfigSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "LogTableDatalakeMI",
														"type": "DatasetReference"
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Get Last Modified date from config",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "select Watermark_Value As Watermark_Value from datalake.adfconf where Source_table like '@{item().Source_table}'",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ADFConfigSource",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Copy Source to Datalake",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Get Last Modified date from config",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "get_max_modified_date",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "\nSELECT * FROM @{item().Source_table}\nWHERE\n@{item().Watermark_Column} > \n\t'@{activity('Get Last Modified date from config').output.value[0].Watermark_Value}'\nand\n@{item().Watermark_Column} < '@{activity('get_max_modified_date').output.firstRow.NewWatermarkValue}'\n\t",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DataWarehouseSink",
														"type": "DatasetReference",
														"parameters": {
															"STGfilename": "@{item().Dest_table}"
														}
													}
												]
											},
											{
												"name": "getwatermarkcolname",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "select Watermark_Column As watercol from datalake.adfconf where Source_table like '@{item().Source_table}'",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ADFConfigSource",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "get_max_modified_date",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "getwatermarkcolname",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "select max(@{activity('getwatermarkcolname').output.firstRow.watercol}) As NewWatermarkValue from  @{item().Source_table}",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DataWarehouseSource",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "UpdateWatermark",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy Source to Datalake",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[datalake].[update_watermark]",
													"storedProcedureParameters": {
														"LastModifiedtime": {
															"value": {
																"value": "@activity('get_max_modified_date').output.firstRow.NewWatermarkValue",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"TableName": {
															"value": {
																"value": "@{item().Source_table}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "adfconfig_sqlmi_public",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Logging",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy Source to Datalake",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'@{item().Source_table}' as Source,\n'@{item().Dest_table}' as Destination,\n'@{item().Load_Flag}' as LoadType,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].status}' as Status,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Copy Source to Datalake').output.rowsCopied}' as rowsCopied,\n'@{activity('Copy Source to Datalake').output.rowsRead}' as RowsRead,\n'@{activity('Copy Source to Datalake').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Copy Source to Datalake').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Copy Source to Datalake').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,\n'@{activity('Copy Source to Datalake').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "SqlMISink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ADFConfigSource",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "LogTableDatalakeMI",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								},
								{
									"name": "UpdateSuccessStatus",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Check_Incremental_Flag",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[datalake].[update_status]",
										"storedProcedureParameters": {
											"Status": {
												"value": "Successful",
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "@{item().Source_table}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adfconfig_sqlmi_public",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "UpdateFailedStatus",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Check_Incremental_Flag",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[datalake].[update_status]",
										"storedProcedureParameters": {
											"Status": {
												"value": "Failed"
											},
											"TableName": {
												"value": {
													"value": "@{item().Source_table}",
													"type": "Expression"
												}
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adfconfig_sqlmi_public",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "uamfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "configlookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('configlookup').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'sqluam')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "uamfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('uamfilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"dw_watermarktab": {
						"type": "String"
					},
					"uam_watermarktab": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DW-UAM"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-Data-Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get DiffMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LinkupSFTP_Diff_Source_OnlyMetadataLookup",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.startDate",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.endDate",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach-Diff",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get DiffMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get DiffMetadata').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Diff Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.startDate",
													"type": "Expression"
												},
												"wildcardFolderPath": {
													"value": "@concat(string(pipeline().parameters.rootPathdiff),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"wildcardFileName": "*.zip",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "DataLakeLinkedService",
													"type": "LinkedServiceReference"
												},
												"path": "dsml/linkup_data/extracted_data/Kornferry/logs/diff"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_Diff_Source_CopyData",
											"type": "DatasetReference",
											"parameters": {
												"foldername": {
													"value": "@concat(string(pipeline().parameters.rootPathdiff),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"filename": "*.zip"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_Diff_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfilename": {
													"value": "@concat(substring(string(item().name),0,10),'_d_linkup_kornferry.xml')",
													"type": "Expression"
												},
												"sinkfolder": {
													"value": "@concat(string(pipeline().parameters.sinkpathdiff),'/',substring(string(item().name),0,10),'/')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get FullMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LinkupSFTP_Full_Source_OnlyMetadataLookup",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.startDate",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.endDate",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach-Full",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get FullMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get FullMetadata').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Full Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.startDate",
													"type": "Expression"
												},
												"wildcardFolderPath": {
													"value": "@concat(string(pipeline().parameters.rootPathfull),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"wildcardFileName": "*.zip",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "DataLakeLinkedService",
													"type": "LinkedServiceReference"
												},
												"path": "dsml/linkup_data/extracted_data/Kornferry/logs/full"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_Full_Source_CopyData",
											"type": "DatasetReference",
											"parameters": {
												"foldername": {
													"value": "@concat(string(pipeline().parameters.rootPathfull),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"filename": "*.zip"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_Diff_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfilename": {
													"value": "@concat(substring(string(item().name),0,10),'_linkup_kornferry.xml')",
													"type": "Expression"
												},
												"sinkfolder": {
													"value": "@concat(string(pipeline().parameters.sinkpathfull),'/',substring(string(item().name),0,10),'/')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"rootPathdiff": {
						"type": "string",
						"defaultValue": "JDE/Korn Ferry/Feeds/Korn Ferry Organic/Diff"
					},
					"filename": {
						"type": "string",
						"defaultValue": "*.zip"
					},
					"rootPathfull": {
						"type": "string",
						"defaultValue": "JDE/Korn Ferry/Feeds/Korn Ferry Organic/Full"
					},
					"startDate": {
						"type": "string",
						"defaultValue": "06/08/2021 00:00:00"
					},
					"endDate": {
						"type": "string",
						"defaultValue": "06/10/2021 00:00:00"
					},
					"sinkpathdiff": {
						"type": "string",
						"defaultValue": "linkup_data/extracted_data/Kornferry/Diff"
					},
					"sinkpathfull": {
						"type": "string",
						"defaultValue": "linkup_data/extracted_data/Kornferry/Full"
					}
				},
				"folder": {
					"name": "Linkup_KornferryFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-Data-Extraction_copyzips')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get DiffMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LinkupSFTP_Diff_Source_OnlyMetadataLookup",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.startDate",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.endDate",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach-Diff",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get DiffMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get DiffMetadata').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Diff Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.startDate",
													"type": "Expression"
												},
												"wildcardFolderPath": {
													"value": "@concat(string(pipeline().parameters.rootPathdiff),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"wildcardFileName": "*.zip",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "DataLakeLinkedService",
													"type": "LinkedServiceReference"
												},
												"path": "dsml/linkup_data/extracted_data/Kornferry/logs/diff"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_Diff_Source_ZIPCopy",
											"type": "DatasetReference",
											"parameters": {
												"foldername": "@concat(string(pipeline().parameters.rootPathdiff),'/',string(item().name),'/')",
												"filename": "*.zip"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_Diff_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfilename": {
													"value": "@concat(substring(string(item().name),0,10),'_d_linkup_kornferry.zip')",
													"type": "Expression"
												},
												"sinkfolder": {
													"value": "@concat(string(pipeline().parameters.sinkpathdiff),'/',substring(string(item().name),0,10),'/')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get FullMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LinkupSFTP_Full_Source_OnlyMetadataLookup",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.startDate",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.endDate",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach-Full",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get FullMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get FullMetadata').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Full Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.startDate",
													"type": "Expression"
												},
												"wildcardFolderPath": {
													"value": "@concat(string(pipeline().parameters.rootPathfull),'/',string(item().name),'/')",
													"type": "Expression"
												},
												"wildcardFileName": "*.zip",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "DataLakeLinkedService",
													"type": "LinkedServiceReference"
												},
												"path": "dsml/linkup_data/extracted_data/Kornferry/logs/full"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_Full_Source_ZIPCopy",
											"type": "DatasetReference",
											"parameters": {
												"foldername": "@concat(string(pipeline().parameters.rootPathfull),'/',string(item().name),'/')",
												"filename": "*.zip"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_Diff_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfilename": {
													"value": "@concat(substring(string(item().name),0,10),'_linkup_kornferry.zip')",
													"type": "Expression"
												},
												"sinkfolder": {
													"value": "@concat(string(pipeline().parameters.sinkpathfull),'/',substring(string(item().name),0,10),'/')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"rootPathdiff": {
						"type": "string",
						"defaultValue": "JDE/Korn Ferry/Feeds/Korn Ferry Organic/Diff"
					},
					"filename": {
						"type": "string",
						"defaultValue": "*.zip"
					},
					"rootPathfull": {
						"type": "string",
						"defaultValue": "JDE/Korn Ferry/Feeds/Korn Ferry Organic/Full"
					},
					"startDate": {
						"type": "string",
						"defaultValue": "06/08/2021 00:00:00"
					},
					"endDate": {
						"type": "string",
						"defaultValue": "06/10/2021 00:00:00"
					},
					"sinkpathdiff": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/Kornferry/Diff"
					},
					"sinkpathfull": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/Kornferry/Full"
					}
				},
				"folder": {
					"name": "Linkup_KornferryFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-JobDescriptions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LinkupSFTP_StandardFeeds_Source_JOBDescriptions",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": {
										"value": "@pipeline().parameters.descpath",
										"type": "Expression"
									},
									"sourcefile": {
										"value": "@pipeline().parameters.descfname",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Linkup_StandardFeeds_Sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkfolder": {
										"value": "@string(pipeline().parameters.sinkpath)",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@pipeline().parameters.descfname",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"descpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Descriptions/2021/05/"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					},
					"descfname": {
						"type": "string",
						"defaultValue": "linkup_job_descriptions_2021-05-31.tar.gz"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Linkup_StandardFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-JobDescriptions_Extraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Linkup_StandardFeeds_SinkExtract",
								"type": "DatasetReference",
								"parameters": {
									"sinkfolder": {
										"value": "@pipeline().parameters.sinkpath",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@pipeline().parameters.descfname",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Linkup_StandardFeeds_Sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkfolder": {
										"value": "@string(pipeline().parameters.newsinkpath)",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@substring(string(pipeline().parameters.descfname),0,34)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"descpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Descriptions/2021/05/"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					},
					"descfname": {
						"type": "string",
						"defaultValue": "linkup_job_descriptions_2021-05-31.tar.gz"
					},
					"newsinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/extracted"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Linkup_StandardFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-Jobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.companyrefpath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable2",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.fulljobdescpath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable3",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListOfFiles",
							"value": {
								"value": "@pipeline().parameters.jobrecordspath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Append variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('ListOfFiles')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "SftpReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"wildcardFileName": "*.gz",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "LinkupSFTP_StandardFeeds_Source",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"sourcefile": "*.gz"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Linkup_StandardFeeds_Sink",
											"type": "DatasetReference",
											"parameters": {
												"sinkfolder": {
													"value": "@string(pipeline().parameters.sinkpath)",
													"type": "Expression"
												},
												"sinkfilename": {
													"value": "@activity('Get Metadata1').output.childitems[0].name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "LinkupSFTP_StandardFeeds_Source",
											"type": "DatasetReference",
											"parameters": {
												"sourcefolder": "@item()",
												"sourcefile": "*.gz"
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"companyrefpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full PIT Company Reference/2021/05/"
					},
					"jobrecordspath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Records/2021/05/"
					},
					"fulljobdescpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/Feeds/Raw Full Job Descriptions/2021/05/"
					},
					"marketreportpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/MarketReports/Reports/Core_Ticker_Analytics_v2/core_ticker_analytics_v2_2021-05-31.csv.gz"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Linkup_StandardFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Linkup-StandardFeeds-MarketReports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LinkupSFTP_StandardFeeds_Source",
								"type": "DatasetReference",
								"parameters": {
									"sourcefolder": {
										"value": "@pipeline().parameters.marketreportpath",
										"type": "Expression"
									},
									"sourcefile": {
										"value": "@pipeline().parameters.marketdatafilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Linkup_StandardFeeds_Sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkfolder": {
										"value": "@string(pipeline().parameters.sinkpath)",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@substring(string(pipeline().parameters.marketdatafilename),0,39)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"marketreportpath": {
						"type": "string",
						"defaultValue": "JDE/Standard/MarketReports/Reports/Core_Ticker_Analytics_v2/"
					},
					"sinkpath": {
						"type": "string",
						"defaultValue": "linkup_data/zip_data/StandardFeeds/"
					},
					"marketdatafilename": {
						"type": "string",
						"defaultValue": "core_ticker_analytics_v2_2021-05-31.csv.gz"
					}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Linkup_StandardFeeds"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-01T13:27:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3005588108170439.19.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"existingClusterId": "0707-061233-awol748"
				}
			},
			"dependsOn": []
		}
	]
}