mdlake-main/adf/pipeline/DW-UAM-Data-Extraction_OnlyFullDataProcessing.json
{
	"name": "DW-UAM-Data-Extraction_OnlyFullDataProcessing",
	"properties": {
		"description": "Note - This pipeline only processes full data files. So the input config table must have the Load_Flag as full, those only will be processed by this pipeline.\n",
		"activities": [
			{
				"name": "configlookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": "select * from datalake.adfconf where enabled=1",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFConfigSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "dwfilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "configlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('configlookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'sqldw')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "dwfilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('dwfilter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check_Incremental_Flag",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy Full Data to ADLS Gen 2",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().Source_table}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DataWarehouseSource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DataWarehouseSink",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "@{item().Dest_table}"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "uamfilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "configlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('configlookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'sqluam')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "uamfilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('uamfilter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check_Incremental_Flag_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy Full Data to ADLS Gen 2_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().Source_table}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "UAMSource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "UAMSink",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "@{item().Dest_table}"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DW-UAM"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-01T13:27:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}