mdlake-main/adf/pipeline/DW-UAM-Data-Extraction-incremental.json
{
	"name": "DW-UAM-Data-Extraction-incremental",
	"properties": {
		"activities": [
			{
				"name": "configlookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": "select * from datalake.adfconf where enabled=1",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFConfigSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "dwfilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "configlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('configlookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'sqldw')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "dwfilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('dwfilter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check_Incremental_Flag",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy Full Data to ADLS Gen 2",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().Source_table}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DataWarehouseSource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DataWarehouseSink",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "@{item().Dest_table}"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Get Last Modified date from config",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "select Watermark_Value from datalake.adfconf where Source_table like '@{item().Source_table}'",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ADFConfigSource",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy Source to Datalake",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get Last Modified date from config",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().Source_table}\nWHERE\nConvert(datetime,@{item().Watermark_Column},105) \n > \nConvert(datetime,substring(\nreplace(\n@{activity('Get Last Modified date from config').output.firstRow.Watermark_Value},'T',''),0,20),120)",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DataWarehouseSource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DataWarehouseSink",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "@{item().Dest_table}"
												}
											}
										]
									},
									{
										"name": "Data flow1",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "Copy Source to Datalake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "1.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dataflow1",
												"type": "DataFlowReference",
												"parameters": {
													"sourcetable": {
														"value": "'@{item().Dest_table}'",
														"type": "Expression"
													},
													"watermark_field": {
														"value": "'@{item().Watermark_Column}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"STGfilename": "@{item().Dest_table}"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "uamfilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "configlookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('configlookup').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'sqluam')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "uamfilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('uamfilter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Tests-ToDeleteLater"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-01T13:27:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}