mdlake-main/adf/pipeline/IngestAryaData.json
{
	"name": "IngestAryaData",
	"properties": {
		"activities": [
			{
				"name": "Get Directories",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "datevalue",
						"value": "activity('configlookup').output.value[0]"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "AryaIngestionSource",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Directories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Directories').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/arya_profile/IngestData",
								"baseParameters": {
									"batchname": {
										"value": "@item().name",
										"type": "Expression"
									},
									"tablename": "allprofiles",
									"database": "aryadb"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"filepath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tests-ToDeleteLater"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-01T13:27:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}